---
layout: default
---

<div class="container">
  <!-- begin page -->
  <article class="page">

    <div class="page__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <h1 class="page__title">{{ page.title | escape }}</h1>
      {% if page.image %}
      <div class="page-image" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
      {% endif %}
    </div>

    <div class="page__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
      {{ content }}

      <br>
      <br>
      <div class="container justify-content-center text-center">
        <h3>Relevant Skills</h3>
      </div>
      <div class="d-flex justify-content-center">
        <div class="container">
          <h5>Programming Languages</h5>
          <div class="row">
            <div class="col-6 col-md-3 d-flex justify-content-center text-center">
              <i class="fab fa-python fa-3x" style="color:black;"></i>
              Python
            </div>
            <div class="col-6 col-md-3 d-flex justify-content-center text-center">
              <i class="fab fa-r-project fa-3x" style="color:black;"></i>
              R
            </div>
            <div class="col-6 col-md-3 d-flex justify-content-center text-center">
              <i class="fab fa-cuttlefish fa-3x" style="color:black;"></i>
              C++
            </div>
            <div class="col-6 col-md-3 d-flex justify-content-center text-center">
              <i class="fas fa-database fa-3x" style="color:black;"></i>
              PostgreSQL and MySQL
            </div>
          </div>
          <br>
          <h5>Data Visualization</h5>
          <div class="row">
            <div class="col-6 col-md-3 d-flex justify-content-center text-center">
              Python - Dash
            </div>
            <div class="col-6 col-md-3 d-flex justify-content-center text-center">
              R - Shiny
            </div>
            <div class="col-6 col-md-3 d-flex justify-content-center text-center">
              Tableau
            </div>
          </div>
          <br>
          <h5>Python Web Frameworks</h5>
          <div class="row">
            <div class="col-6 col-md-6 d-flex justify-content-center text-center">
              <h5>Flask</h5>
            </div>
            <div class="col-6 col-md-6 d-flex justify-content-center text-center">
              <h5>Django</h5>
            </div>
          </div>
          <br>
          <h5>Operating Systems</h5>
          <div class="row">
            <div class="col-6 col-md-4 d-flex justify-content-center text-center">
              <i class="fab fa-windows fa-3x" style="color:black;"></i>
              Windows
            </div>
            <div class="col-6 col-md-4 d-flex justify-content-center text-center">
              <i class="fab fa-apple fa-3x" style="color:black;"></i>
              MacOS
            </div>
            <div class="col-6 col-md-4 d-flex justify-content-center text-center">
              <i class="fab fa-linux fa-3x" style="color:black;"></i>
              Linux
            </div>
          </div>
        </div>
      </div>
    </div>

  </article>
  <!-- end page -->
</div>
