---
layout: default
---

<div class="container">
  <!-- begin page -->
  <article class="page">

    <div class="page__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <h1 class="page__title">{{ page.title | escape }}</h1>
      {% if page.image %}
      <div class="page-image" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
      {% endif %}
    </div>

    <div class="page__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
      {{ content }}

      <br>
      <br>
      <p><b>Relevant Skills</b></p>
      <div class="container-fluid">
        <h5>Programming Languages</h5>
        <div class="row">
          <div class="column">
            <i class="fab fa-python fa-3x" style="color:black;"></i>
            Python
          </div>
          <div class="column">
            <i class="fab fa-r-project fa-3x" style="color:black;"></i>
            R
          </div>
          <div class="column">
            <i class="fab fa-database fa-3x" style="color:black;"></i>
            PostgreSQL and MySQL
          </div>
        </div>
        <h5>Operating Systems</h5>
        <div class="row">
          <div class="column">
            <i class="fab fa-python fa-3x" style="color:black;"></i>
            Python
          </div>
          <div class="column">
            <i class="fab fa-r-project fa-3x" style="color:black;"></i>
            R
          </div>
          <div class="column">
            <i class="fas fa-database fa-3x" style="color:black;"></i>
            PostgreSQL and MySQL
          </div>
        </div>
      </div>
    </div>

  </article>
  <!-- end page -->
</div>
